<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>


<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated brakesystem -->
      <package
            uri="http://www.example.org/brakesystem"
            class="brakesystem.BrakesystemPackage"
            genModel="src/main/ecore/brakesystem.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated cad -->
      <package
            uri="http://www.example.org/cad"
            class="edu.kit.ipd.sdq.metamodels.cad.CadPackage"
            genModel="src/main/ecore/cad.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated simuLink -->
      <package
            uri="http://vitruv.tools/methodologisttemplate/simulink"
            class="simulink.SimuLinkPackage"
            genModel="src/main/ecore/simuLink.genmodel"/>
   </extension>
   
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated autoSAR -->
      <package
            uri="http://vitruv.tools/methodologisttemplate/autosar"
            class="autosar.AutoSARPackage"
            genModel="src/main/ecore/autoSAR.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://example.org/bom"
            class="bom.BomPackage"
            genModel="src/main/ecore/bom.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SysML -->
      <package
            uri="https://www.omg.org/spec/SysML/20250201"
            class="org.omg.sysml.lang.sysml.SysmlPackage"
            genModel="src/main/ecore/SysML.genmodel"/>
   </extension>

</plugin>
